@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    /*background: rgb(255, 255, 255);*/
    font-family: montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all .1s ease;
}
body{
    background:greenyellow;
    margin: auto;
}
header{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 130px;
    margin: auto;
    padding: 0 5%;
}
header .logo{background: yellow;
    margin: 10px;
    padding: 10px;
}
header .logo h1{
    font-size: 1.6rem;
}
header .logo h2{
    font-size: 1rem;
}
header .logo h3{
    font-size: .8rem;
}
header nav{background: red;
    padding: 10px 0;
}
header a{background: yellow;
    margin: 0 20px;
}

/* ------   SECÇÃO MAIN  -------*/

main{background: rebeccapurple;
    height: 100vh;
    margin: auto;
}
main .home{background: green;
    height: 100vh;
    margin: auto;

}
main .container {background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 70%;
}
main .container article {background: brown;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    width: 50%;
    height: 90%;
}
main .container article h1{
    font-size: 5rem;
    line-height: .7;
}
main .container article h2{
    font-size: 2rem;
    line-height: 2;
}
main .container article h3{
    font-size: 1rem;
}
main .container article a{background: red;
    margin: 20px 0;
    padding: 20px 50px;
}
main .container aside {background: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
}