@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all .3s ease;
}
body{background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100vw;
    height: 100vh
}
.box{background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 85%;
    padding: 50px;
}